# Ignore build output directories
bin/
obj/

# Ignore Visual Studio temporary files
.vs/

# Ignore executable and DLL files
*.exe
*.dll
*.pdb

# Ignore assembly info cache files
*.AssemblyInfo.cs
/CarBookings/.vs/CarBookings/CopilotIndices/17.14.1147.5054/CodeChunks.db
/CarBookings/.vs/CarBookings/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
